@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<section class="home-main">
    <h1 class="text-dark">Welcome To Dynasty's Library</h1>
    <br />
    <br />
    <br />
    <button class="btn btn-primary-outline text-light">@Html.ActionLink("Click to Continue", "Login", "Account")</button>
    <button class="btn btn-primary-outline text-light">@Html.ActionLink("Click to Register Account", "Register", "Account")</button>
    <button class="btn btn-primary-outline text-light">@Html.ActionLink("Click to Log in", "Login", "Account")</button>

    
</section>