@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Privacy and Policy Page is currently being built, stay tuned.</p>
<br />
<p>Click here to go back</p>
<p>@Html.ActionLink("Home", "Index")</p>