*{
  text-decoration: none;
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.links-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}




/* 
.text-color{
  color: #fff;
} */
/* 
h4{
  color: #fff;
} */
/* button{
  color: #fff;
  text-decoration: none;
} */