@{
    Layout = "_Layout";
}

<h2>Access Denied</h2>
<hr />
<div class="alert alert-danger">
    <p>You do not have permission to access this page.</p>
    <p>This action can only be performed by users with the correct account type.</p>

    <ul>
        <li>If you are trying to access an Admin page, please log in as an Admin.</li>
        <li>If you are trying to access a Librarian page, please log in as a Librarian.</li>
        <li>If you are trying to access a Patron page, please log in as a Patron.</li>
    </ul>

    <p>If you believe this is a mistake, please contact support.</p>
    <p>Email: emzzyoluwole@gmail.com</p>
</div>

<p>
    <a href="~/Account/Index" class="btn btn-primary">Go to Account</a>
    
</p>