<p>Below is a list of Accounts that has been opened on the Application</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
        </tr>
    }
    </tbody>
</table>

<br />
<div class="text-center links-grid2 ">
            <p>@Html.ActionLink("Click to see Author's list", "Index", "Authors")</p>
            <p>@Html.ActionLink("Click to see Book's list", "Index", "Books")</p>
        </div>
